# <center> Numpy Basics </center>

Welcome to section of Numpy. This is one of the
the most used Python libraries for data science. NumPy consists of a powerful data structure called multidimensional arrays. Pandas is another powerful Python library that provides fast and easy data analysis platform.

NumPy is a library written for scientific computing and data analysis. It stands for numerical python and also known as array oriented computing.

The most basic object in NumPy is the ndarray, or simply an array which is an n-dimensional, homogeneous array. By homogenous, we mean that all the elements in a NumPy array have to be of the same data type, which is commonly numeric (float or integer).


 # Why Numpy?
 convenience & speed

 Numpy is much faster than the standard python ways to do computations.

Vectorised code typically does not contain explicit looping and indexing etc. (all of this happens behind the scenes, in precompiled C-code), and thus it is much more concise.

Also, many Numpy operations are implemented in C which is basically being executed behind the scenes, avoiding the general cost of loops in Python, pointer indirection and per-element dynamic type checking. The speed boost depends on which operations you're performing.

 NumPy arrays are more compact than lists, i.e. they take much lesser storage space than lists

 ***Let's get started  with our Numpy Assigment**

In [ ]:
#import numpy module with alias np

import numpy as np

We can create a NumPy ndarray object by using the array() function.
To create an ndarray, we can pass a list, tuple or any array-like object into the array() method, and it will be converted into an ndarray:

In [ ]:
# Define a numpy array passing a list with  1,2 and 3 as elements in it
a = np.array ([1,2,3])
print (a)

[1 2 3]

In [ ]:
# print a
print (a)

[1 2 3]

## Dimensions in Arrays

### **`Watch Video 1: Numpy Array Dimension`**

Numpy array can be of n dimentions

Lets create arrays of different dimentions.

a=A numpy array with one single integer 10

b=A numpy array passing a list having a list= [1,2,3]

c=A numpy array passing nested list having [[1, 2, 3], [4, 5, 6]] as elements

d=A numpy array passing nested list having [[[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]]] as elements

In [ ]:
#define a,b,c and d as instructed above

a = np.array (10)
b = np.array ([1,2,3])
c = np.array ([[1,2,3],[4,5,6]])
d = np.array ([[[1,2,3],[4,5,6]],[[1,2,3],[4,5,6]]])

Are you ready to check its dimention? Use ndim attribute on each variable to check its dimention

In [ ]:
#print dimentions of a,b, c and d
print (a.ndim)
print (b.ndim)
print (c.ndim)
print (d.ndim)

0
1
2
3

Hey hey. Did you see! you have created 0-D,1-DeprecationWarning, 2-D and 3-D arrays.

Lets print there shape as well. You can check shape using shape attribute

In [ ]:
# print shape of each a,b ,c and d
print (a.shape)
print (b.shape)
print (c.shape)
print (d.shape)

()
(3,)
(2, 3)
(2, 2, 3)

Lets check data type passed in our array. To check data type you can use dtype attribute

In [ ]:
# print data type of c and d

print (c.dtype)
print (d.dtype)

int64
int64

Above output mean our array is having int type elements in it.

Lets check the type of our variable. To check type of any numpy variable use type() function

In [ ]:
#print type of a and b variable

print (type(a))
print (type(b))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [ ]:
# Lets check length of array b, using len() function
len(b)
len(d)

2

Bravo!You have Defined ndarray i.e numpy array in variable a nd b. Also you have successfully learned how to create numpy.

## Performance measurement

I mentioned that the key advantages of numpy are convenience and speed of computation.

You'll often work with extremely large datasets, and thus it is important point for you to understand how much computation time (and memory) you can save using numpy, compared to standard python lists.

Create two list l1 and l2 where, l1=[10,20,30] and l2=[40,50,60]

1.   List item
2.   List item


Also define two numpy arrays l3,l4 where l3 has l1 as element and l4 has l2 as element

In [ ]:
# Define l1,l2,l3 and l4 as stated above.
l1 = ([10,20,30])
l2 = ([40,50,60])
l3 = np.array(l1)
l4 = np.array(l2)

Lets multiply each elements of l1 with corresponding elements of l2

Here use list comprehention to do so. Lets see how much you remember your work in other assignments.

Note: use %timeit as prefix before your line of code inorder to calculate total time taken to run that line<br>
eg. %timeit my_code

In [ ]:
#code here as instructed above
import numpy as np
import timeit
l1 = np.array([10,20,30])
l2 = np.array ([40,50,60])

%timeit (l1*l2)

555 ns ± 7.78 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

Lets mulptiply l3 and l4

Note: use %timeit as prefix before your line of code inorder to calculate total time taken to run that line

In [ ]:
%timeit (l3*l4)

715 ns ± 253 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

Don't worry if still your one line of code is running. Its because your system is calculating total time taken to run your code.

Did you notice buddy! time taken to multiply two lists takes more time than multiplyimg two numpy array.
Hence proved that numpy arrays are faster than lists.

**Fun Fact time!:**

You know in many data science interviews it is asked that what is the difference between list and array.<br>
### The answer is: **`Watch Video 2: List Vs Numpy`**

so in numpy arrays I can do everything without even writing a loop? yes... ohh wao

### Creating Numpy array

There are multiple ways to create numpy array. Lets walk over them

1. Using arrange() function <br>
Refer: https://numpy.org/doc/stable/reference/generated/numpy.arange.html

In [ ]:
#Create a numpy array using arange with 1 and 11 as parameter in it

a = np.arange(1,99,5)
print (a)

[ 1  6 11 16 21 26 31 36 41 46 51 56 61 66 71 76 81 86 91 96]

This means using arrange we get evenly spaced values within a given interval. Interval? Yes you can mention interval as well as third parameter in it.

In [ ]:
# Create an array using arange passing 1,11 and 2 as parameter in iter

a = np.arange(1,11,2)
print (a)

[1 3 5 7 9]

Did you see? you got all odd numbers as you had mentioned interval between 1 and 10. Also note that 11 is excluded and hence arrange function counted till 10

2. Using eye Function <br>
Refer: https://numpy.org/devdocs/reference/generated/numpy.eye.html

In [ ]:
# create numpy array using eye function with 3 as passed parameter

a = np.eye(10)
print (a)

[[1. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 1. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 1. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 1. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 1. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 1.]]

Wohoo! eye return a 2-D array with ones on the diagonal and zeros elsewhere.

3. Using zero function<br>
Refer: https://numpy.org/doc/stable/reference/generated/numpy.zeros.html

In [ ]:
#create a numpy array using zero function with (3,2) as passed parameter
a = np.zeros((3,2))
print (a)

[[0. 0.]
 [0. 0.]
 [0. 0.]]

Zero function returns a new array of given shape and type, filled with zeros.

4. Using ones Function <br>
Refer: https://numpy.org/doc/stable/reference/generated/numpy.ones.html

In [ ]:
#create a numpy array using ones function with (3,2) as passed parameter

a = np.ones((3,2))
print (a)

[[1. 1.]
 [1. 1.]
 [1. 1.]]

You noticed! ones function returns a new array of given shape and type, filled with ones.

5. Using full Function<br>
Refer: https://numpy.org/doc/stable/reference/generated/numpy.full.html

In [ ]:
#create a numpy array using full function with (3,2) and 2 as passed parameter
a = np.full ((3,2),2)
print(a)

[[2 2]
 [2 2]
 [2 2]]

Yeah! full function return a new array of given shape and type, filled with fill_value, here it is 2

6. Using diag function<br>
Refer: https://numpy.org/doc/stable/reference/generated/numpy.diag.html

In [ ]:
#create a numpy array using diag function passing a list [1,2,3,4,5]
a = np.diag([1,2,3,4,5])
print(a)

[[1 0 0 0 0]
 [0 2 0 0 0]
 [0 0 3 0 0]
 [0 0 0 4 0]
 [0 0 0 0 5]]

Oh yeah! diag function extract a diagonal or construct a diagonal array.

 7. Using tile function<br>
    Refer: https://numpy.org/doc/stable/reference/generated/numpy.tile.html

In [ ]:
# Create a numpy array v with [1,2,3] as its elements
v =


#Use tile function of numpy and pass v and (3,1) as its parametrs

array([[1, 2, 3],
       [1, 2, 3],
       [1, 2, 3]])

Returns an array by repeating an input array the number of times given by mentioned shape.
Here you can see that you stacked 3 copies of v on top of each other

8. Using linspace Function<br>
Refer: https://numpy.org/doc/stable/reference/generated/numpy.linspace.html

In [ ]:
# Create an array with 100 values between 1 and 50 using linspace
a = np.linspace(1,50,100)
print(a)

[ 1.          1.49494949  1.98989899  2.48484848  2.97979798  3.47474747
  3.96969697  4.46464646  4.95959596  5.45454545  5.94949495  6.44444444
  6.93939394  7.43434343  7.92929293  8.42424242  8.91919192  9.41414141
  9.90909091 10.4040404  10.8989899  11.39393939 11.88888889 12.38383838
 12.87878788 13.37373737 13.86868687 14.36363636 14.85858586 15.35353535
 15.84848485 16.34343434 16.83838384 17.33333333 17.82828283 18.32323232
 18.81818182 19.31313131 19.80808081 20.3030303  20.7979798  21.29292929
 21.78787879 22.28282828 22.77777778 23.27272727 23.76767677 24.26262626
 24.75757576 25.25252525 25.74747475 26.24242424 26.73737374 27.23232323
 27.72727273 28.22222222 28.71717172 29.21212121 29.70707071 30.2020202
 30.6969697  31.19191919 31.68686869 32.18181818 32.67676768 33.17171717
 33.66666667 34.16161616 34.65656566 35.15151515 35.64646465 36.14141414
 36.63636364 37.13131313 37.62626263 38.12121212 38.61616162 39.11111111
 39.60606061 40.1010101  40.5959596  41.09090909 41.58585859 42.08080808
 42.57575758 43.07070707 43.56565657 44.06060606 44.55555556 45.05050505
 45.54545455 46.04040404 46.53535354 47.03030303 47.52525253 48.02020202
 48.51515152 49.01010101 49.50505051 50.        ]

Wao! linspace returns evenly spaced numbers over a specified interval.

Hey but you saw some similar defination for arrange function

The main difference both of them is that arange return values with in a range which has a space between values (in other words the step) and linspace returns set of samples with in a given interval.

## Numpy Random numbers


Fun Fact:

You can create a numpy array with random numbers also. How? Uisng random function<br>
Lets see how
Refer: https://numpy.org/doc/stable/reference/random/generated/numpy.random.rand.html

In [ ]:
# Generate one random number between 0 and 1 using numpy's random.rand() function.
import numpy as np
l= np.random.rand()
print (l)

0.7147387828478855

Run the above cell again and check if number changes.

Yeah it changes. That's so random :)

In [ ]:
# so let say I want a random value between 2 and 50

l= np.random.randint(2,50)
print (l)

20

Run the above cell again and check if number changes and its between 2 to 50.

Now lets create an array with random numbers 0 to 1 of shape 3X3

In [ ]:
#get an array as stated above

l= np.random.random_integers(0,1,(3,3))
print (l)

1

<ipython-input-37-73fe14c728f7>:3: DeprecationWarning: This function is deprecated. Please call randint(0, 1 + 1) instead
  l= np.random.random_integers(0,1)

Smile! you got it how to create a numpy array with random numbers.

## Numpy Reshape

### Reference: **`Video 3: Numpy Array Reshaping`**

reference doc: https://numpy.org/doc/stable/reference/generated/numpy.reshape.html

Reshaping means changing the shape of an array.
The shape of an array is the number of elements in each dimension.
By reshaping we can add or remove dimensions or change number of elements in each dimension.

In [ ]:
# Using arange() to generate numpy array x with numbers between 1 to 16
import numpy as np
x= np.arange(1,17)
print (x)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16]

So here x is our 1-D array along with being sweet sixteen array ;). Lets reshape our x into 2-D and 3-D array using Reshape

1. Reshaping 1-D to 2-D

In [ ]:
# Reshape x with 2 rows and 8 columns
x = x.reshape(2,8)
print(x)

[[ 1  2  3  4  5  6  7  8]
 [ 9 10 11 12 13 14 15 16]]

As you can see above that our x changed into 2D matrix

2. Reshaping 1-D to 3-D array

In [ ]:
# reshaoe x with dimension that will have 2 arrays that contains 4 arrays, each with 2 elements:

x = x.reshape(2,4,2)
print(x)

[[[ 1  2]
  [ 3  4]
  [ 5  6]
  [ 7  8]]

 [[ 9 10]
  [11 12]
  [13 14]
  [15 16]]]

**Fun Fact:**

<u>Unknown Dimension</u>

You are allowed to have one "unknown" dimension.Meaning that you do not have to specify an exact number for one of the dimensions in the reshape method.
Pass -1 as the value, and NumPy will calculate this number for you. Awesome right?

In [ ]:
# Use unknown dimention to reshape x into 2-D numpy array with shape 4*4
x = x.reshape(4,-1)
print(x)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]]

In [ ]:
# Use unknown dimention to  reshape x into 3-D numpy array with 2 arrays that contains 4 arrays
y= x.reshape(2,4,-1)
print(y)


# print y

[[[ 1  2]
  [ 3  4]
  [ 5  6]
  [ 7  8]]

 [[ 9 10]
  [11 12]
  [13 14]
  [15 16]]]

Note: We can not pass -1 to more than one dimension.

Another cool Fact: -1 can be used to flatten an array which means converting a multidimensional array into a 1D array.

    Lets apply this technique on y which is 3-D array

In [ ]:
# Flattening y

y = y.reshape(-1)
print(y)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16]

Awesome work!

## NumPy Array Indexing

### Reference: **`Video 4: Numpy Array Indexing`**

Array indexing is the same as accessing an array element. You can access an array element by referring to its index number.

The indexes in NumPy arrays start with 0, meaning that the first element has index 0, and the second has index 1 etc.

In [ ]:
# Create an array a with all even numbers between 1 to 17
a = np.arange(2,18,2)
print (a)

[ 2  4  6  8 10 12 14 16]

In [ ]:
# Get third element in array a
a = a[2]
print (a)

6

In [ ]:
#Print 3rd, 5th, and 7th element in array a

a = a[2:7:2]
print (a)

[ 6 10 14]

Lets check the same for 2 D array

In [ ]:
# Define an array 2-D a with [[1,2,3],[4,5,6],[7,8,9]] as its elements.
a = np.array ([[1,2,3],[4,5,6],[7,8,9]])

NameError: name 'np' is not defined

In [ ]:
# print the 3rd element from the 3rd row of a

a = a[2,2]
print (a)

9

Well done!

Now lets check indexing for 3 D array

In [ ]:
# Define an array b again with [[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]] as its elements.
b = np.array ([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

In [ ]:
# Print 3rd element from 2nd list which is 1st list in nested list passed. Confusing right? 'a' have nested array.Understand the braket differences.
a = b[1,0,2]
print (a)

9

Well done.!

Have you heared about **negative indexing?**


We can use negative indexing to access an array from the end.

In [ ]:
# Print the second last element from the 2nd dim using negative indexing

a = b[-2,-1,-2]
print(a)

5

Great job!
So now you have learned how to to indexing on various dimentions of numpy array.

## NumPy Array Slicing

### Reference: **`Video 5: Numpy Slicing Operations`**

Slicing in python means taking elements from one given index to another given index.

    1. We pass slice instead of index like this: [start:end].
    2. We can also define the step, like this: [start:end:step].
    3. If we don't pass start its considered 0
    4. If we don't pass end its considered length of array in that dimension
    5. If we don't pass step its considered 1
    
1. **Array slicing in 1-D array.**

In [ ]:
arr= np.arange(1,11)
print(arr)

[ 1  2  3  4  5  6  7  8  9 10]

In [ ]:
# Slice elements from 1st to 5th element from the following array:

arr = arr[0:5]
print(arr)

[1 2 3 4 5]

Note: The result includes the start index, but excludes the end index.

In [ ]:
# Slice elements from index 5 to the end of the array:
arr = arr[5:]
print(arr)

[]

In [ ]:
# Slice elements from the beginning to index 5 (not included):

arr = arr[:5]
print(arr)

[]

Have you heared about **Negative Slicing?**

We can use the minus operator to refer to an index from the end:

In [ ]:
# Slice from the index 3 from the end to index 1 from the end:

arr = arr[-3:-1]
print(arr)

[8 9]

**STEP**

Use the step value to determine the step of the slicing:

In [ ]:
# Print every other element from index 1 to index 7:

arr = arr[1:7:2]
print(arr)

array([2, 4, 6])

Did you see? using step you were able to get alternate elements within specified index numbers.

In [ ]:
# Return every other element from the entire array arr:

arr = arr[::2]
print(arr)

[1 3 5 7 9]

well done!

Lets do some slicing on 2-D array also. We already have 'a' as our 2-D array. We will use it here.

**2. Array slicing in 2-D array.**

In [ ]:
# Print array a
a = np.array ([[1,2,3],[4,5,6],[7,8,9]])
print(a)

NameError: name 'np' is not defined

In [ ]:
# From the third element, slice elements from index 1 to index 5 (not included) from array 'a'

a = a[2,1:5]
print(a)

[8 9]

In [ ]:
# In array 'a' print index 2 from all the elements :
a = a[0:3,2]
print(a)

NameError: name 'a' is not defined

In [ ]:
# From all the elements in 'a', slice index 1 till end, this will return a 2-D array:
a = a[0:3,1:]
print(a)

NameError: name 'a' is not defined

Hurray! You have learned Slicing in Numpy array. Now you know to access any numpy array.

## Numpy copy vs view

### Reference: **`Video 6: Numpy  View Vs Copy`**

In [14]:

import numpy as np
x1 = np.arange(1,10) # Changed 'arrange' to 'arange'
print(x1)

[1 2 3 4 5 6 7 8 9]

In [ ]:
# assign x2 = x1
x2 = x1
print(x1)

[1 2 3 4 5 6 7 8 9]

In [ ]:
#print x1 and x2
print (x1)
print (x2)

[1 2 3 4 5 6 7 8 9]
[1 2 3 4 5 6 7 8 9]

Ok now you have seen that both of them are same

In [ ]:
# change 1st element of x2 as 10
x2[0] = 10

In [ ]:
#Again print x1 and x2

print (x1)
print (x2)

[10  2  3  4  5  6  7  8  9]
[10  2  3  4  5  6  7  8  9]

Wait a minute. Just check your above result on change of x2, x1 also got changed. Why?

Lets check if both the variables shares memory. Use numpy shares_memory() function to check if both x1 and x2 shares a  memory.

Refer: https://numpy.org/doc/stable/reference/generated/numpy.shares_memory.html

In [ ]:
# Check memory share between x1 and x2

x1 = np.shares_memory(x1,x2)
print(x1)

True

Hey It's True they both share memory

Shall we try **view()** function also likwise.

In [ ]:
# Create a view of x1 and store it
x3 = x2.view()

In [ ]:
# Again check memory share between x1 and x3

x3 = np.shares_memory(x1,x3)
print(x3)

False

Woh! simple assignment is similar to view. That means
The view does not own the data and any changes made to the view will affect the original array, and any changes made to the original array will affect the view.

Don't agree? ok lets change x3 and see if original array i.e. x1 also changes

In [ ]:
#Change 1st element of x3=1
x3[0] = 1

TypeError: 'bool' object does not support item assignment

In [ ]:
#print x1 and x3 to check if changes reflected in both

print (x1)
print (x3)

True
False

Now its proved.

Lets see how **Copy()** function works

In [15]:
# Now create an array x4 which is copy of x1

x4= x1.copy()
print (x4)

[1 2 3 4 5 6 7 8 9]

In [16]:
# Change the last element of x4 as 900
# In cell 43 where you copy x1 to x4
x4 = x1.copy()
print(x4)

# In cell 47 where you modify x4:
# Change the last element of x4 as 900

[1 2 3 4 5 6 7 8 9]

In [ ]:
x4[-1] = 900  # This line should now work correctly
pr

In [ ]:
# print both x1 and x4 to check if changes reflected in both

print (x1)
print (x4)

True

NameError: name 'x4' is not defined

Hey! such an intresting output. You noticed buddy! your original array didn't get changed on change of its copy ie. x4.

Still not convinced? Ok lets see if they both share memory or not

In [17]:
#Check memory share between x1 and x4
x1 = np.share_memory(x1,x4)
print(x1)

AttributeError: module 'numpy' has no attribute 'share_memory'

You see! x1 and x4 don't share its memory.

So with all our outputs we can takeaway few points:

    1. The main difference between a copy and a view of an array is that the copy is a new array, and the view is just a view of the original array.

    2. The copy owns the data and any changes made to the copy will not affect original array, and any changes made to the original array will not affect the copy.

    3. The view does not own the data and any changes made to the view will affect the original array, and any changes made to the original array will affect the view.

## More operations on Numpy

**1. Applying conditions**

Reference: https://thispointer.com/python-numpy-select-elements-or-indices-by-conditions-from-numpy-array/

In [1]:
import numpy as np
a = np.arange(10)
print(a)

[0 1 2 3 4 5 6 7 8 9]

We are going to use 'a' array for all our array condition operations.

In [ ]:
# Check if every element in array a greater than 3 or not Using '>' notation
array = a>3
print(array)

[False False False False  True  True  True  True  True  True]

In [2]:
# Get a list with all elements of array 'a' grater than 3

array =a[a>3]
print(array)

[4 5 6 7 8 9]

In [3]:
# Get a list with all elements of array 'a' greater than 3 but less than 6

array = a[(a>3) & (a<6)]
print(array)

[4 5]

In [4]:
# check if each elements in array 'x1' equals array 'x4' using '==' notation

array = a==x4
print(array)

NameError: name 'x4' is not defined

You can see in above output that the last element is not same in both x1 and x4

Well done so far.

Lets check how to transpose an array

**2. Transposing array**

Reference: https://www.geeksforgeeks.org/python-numpy-numpy-transpose/
           https://numpy.org/doc/stable/reference/generated/numpy.transpose.html
           https://numpy.org/doc/stable/reference/generated/numpy.ndarray.T.html

In [13]:
# Print Transpose of array 'a'

ARRAY = a.transpose
print(ARRAY)
print(A)

<built-in method transpose of numpy.ndarray object at 0x7a6a15770f30>
[0 1 2 3 4 5 6 7 8 9]

In above output all the rows became columns by transposing

**3. hstack vs vstack function**

### Reference: **`Video 7 : Numpy  Hstack Vs Vstack`**

Stacking is same as concatenation, the only difference is that stacking is done along a new axis.

NumPy provides a helper function:

1. hstack() to stack along rows.
2. vstack()  to stack along columns

You wanna see how? Then here we go...!

reference doc: https://scipython.com/book/chapter-6-numpy/examples/vstack-and-hstack/

In [19]:
# stack x1 and x4 along columns.

x1 = np.vstack((x1,x4))
print(x1)

[[1 2 3 4 5 6 7 8 9]
 [1 2 3 4 5 6 7 8 9]]

In [23]:

x1 = np.hstack((x1,3)) # Reshape x4 to have 2 dimensions before stacking.
print(x1)

ValueError: all the input arrays must have same number of dimensions, but the array at index 0 has 2 dimension(s) and the array at index 1 has 1 dimension(s)

We hope now you saw the difference between them.

Fun fact! you can even use concatenate() function to join 2 arrays along with the axis. If axis is not explicitly passed, it is taken as 0 ie. along column

Lets try this function as well

### Reference: **`Video 8: Numpy Concatenation`**

In [28]:
arr1 = np.array([[1, 2], [3, 4]])

arr2 = np.array([[5, 6], [7, 8]])





##join arr1 and arr2 along rows using concatenate() function

print (np.concatenate((arr1,arr2),axis=1))

[[1 2 5 6]
 [3 4 7 8]]

In [27]:
##join arr1 and arr2 along columns using concatenate() function
print (np.concatenate((arr1,arr2),axis = 0))

[[1 2]
 [3 4]
 [5 6]
 [7 8]]

## Adding, Insert and delete Numpy array

### Reference: **`Video 9: Numpy  Insert Append Delete`**

You can also add 2 arrays using append() function also. This function appends values to end of array

Lets see how

In [29]:
# append arr2 to arr1
arr1 = np.array([1, 2, 3])

arr2 = np.array([4, 5, 6])

arr = np.append(arr1,arr2)

print(arr)

[1 2 3 4 5 6]

Lets use insert() function which Inserts values into array before specified index value

In [31]:
# Inserts values into array x1 before index 4 with elements of x4

arr = np.insert(x1,4,arr2)
print(arr)

[1 2 3 4 4 5 6 5 6 7 8 9 1 2 3 4 5 6 7 8 9]

You can see in above output we have inserted all the elements of x4 before index 4 in array x1.

In [33]:
# delete 2nd element from array x2
arr = np.delete(arr2,2)
print(arr)

[4 5]

Did you see? 2 value is deleted from x2 which was at index position 2

## Mathmatical operations on Numpy array

Reference doc for Numpy Mathmatical functions: https://numpy.org/doc/stable/reference/routines.math.html

In [53]:
a= np.array([[1,2,3],[4,5,6],[7,8,9]])
b= np

In [54]:
# print trigonometric sin value of each element of a
a = np.sin(a)
print(a)

[[ 0.84147098  0.90929743  0.14112001]
 [-0.7568025  -0.95892427 -0.2794155 ]
 [ 0.6569866   0.98935825  0.41211849]]

In [55]:
# print trigonometric cos value of each element of a
a = np.cos(a)
print(a)

[[0.66636675 0.61430028 0.99005909]
 [0.72703513 0.57440088 0.9612168 ]
 [0.79183621 0.54922627 0.91627432]]

In [56]:
# Print exponential value of each elements of a
a = np.exp(a)
print(a)

[[1.94714996 1.84836281 2.69139349]
 [2.06893738 1.77606613 2.61487633]
 [2.20744604 1.73191247 2.49995896]]

Referal: https://numpy.org/doc/stable/reference/generated/numpy.sum.html

In [57]:
# print total sum of elements of a
a = np.sum(a)
print(a)

19.386103576375973

In [58]:
# Print sum in array a column wise
a = np.sum(a,axis=0)
print(a)

19.386103576375973

In [41]:
# Print sum in array a row wise
a = np.sum(a,axis=1)
print(a)

AxisError: axis 1 is out of bounds for array of dimension 0

Refrence doc: https://numpy.org/doc/stable/reference/generated/numpy.median.html

In [59]:
# print median of array a

a = np.median(a)
print(a)

19.386103576375973

Refrence doc: https://numpy.org/doc/stable/reference/generated/numpy.std.html

In [60]:
# print standard deviation of array a

a = np.std(a)
print(a)

0.0

Refrence doc: https://numpy.org/doc/stable/reference/generated/numpy.linalg.det.html

In [62]:
# print the determinant of array a

a_for_det = np.array([[1, 2], [3, 4]])
determinant = np.linalg.det(a_for_det)
print(determinant)

-2.0000000000000004

### **`Note: If your output is zero, it's correct. Our value is negligible too.`**

reference doc: https://numpy.org/doc/stable/reference/generated/numpy.linalg.inv.html

In [63]:
# print the (multiplicative) inverse of array a

a = np.linalg.inv(a_for_det)
print(a)

[[-2.   1. ]
 [ 1.5 -0.5]]

### **`Note: If your output is throwing error, it's correct. Once determinant is zero, it's inverse does not exist. Our value is negligible too.`**

Reference doc: https://numpy.org/doc/stable/reference/generated/numpy.linalg.eig.html

In [ ]:
# Print the eigenvalues and right eigenvectors of array a.
a = np.linalg.eig(a_for_det)
print(a)

(array([ 1.61168440e+01, -1.11684397e+00, -1.30367773e-15]),
 array([[-0.23197069, -0.78583024,  0.40824829],
        [-0.52532209, -0.08675134, -0.81649658],
        [-0.8186735 ,  0.61232756,  0.40824829]]))

Reference doc: https://numpy.org/doc/stable/reference/generated/numpy.dot.html

In [64]:
# compute dot product of arr1 and arr2

a = np.dot(arr1,arr2)
print(a)

32

reference doc: https://numpy.org/doc/stable/reference/generated/numpy.ndarray.max.html

In [65]:
#print largest element present in array a
a = np.max(a)
print(a)

32

Reference doc: https://numpy.org/doc/stable/reference/generated/numpy.argmax.html

In [66]:
#print index of largest element present in array a
a = np.argmax(a)
print(a)

0

Reference doc: https://numpy.org/doc/stable/reference/generated/numpy.sort.html

In [68]:
# print sorted x4 array
arr = np.sort(arr2)
print(arr)

[4 5 6]

Reference doc: https://numpy.org/doc/stable/reference/generated/numpy.argsort.html

In [69]:
# print indices of each sorted element in x4 array
arr = np.argsort(arr2)
print(arr)

[0 1 2]

## Searching Arrays

Reference:
- https://www.geeksforgeeks.org/numpy-where-in-python/
- https://numpy.org/doc/stable/reference/generated/numpy.where.html

You can search an array for a certain value, and return the indexes that get a match.

To search an array, use the where() method.

In [70]:
# print the indexes where the value is 4 in array x1
a = np.where(x1==4)
print(a)

(array([0, 1]), array([3, 3]))

Which means that the value 4 is present at index 4

You can check it by printing array x1

In [71]:
#print array x1
print(x1)

[[1 2 3 4 5 6 7 8 9]
 [1 2 3 4 5 6 7 8 9]]

In [72]:
# Print the indexes where the values are even in array x1

a = np.where(x1%2==0)
print(a)

(array([0, 0, 0, 0, 1, 1, 1, 1]), array([1, 3, 5, 7, 1, 3, 5, 7]))

In [73]:
# Print x1 where x1 is greater than 5, also if number is less than 5 then replace it with 0

a = np.where(x1>5,x1,0)
print(a)

[[0 0 0 0 0 6 7 8 9]
 [0 0 0 0 0 6 7 8 9]]

Good Job learner!

---------------------
# Bam! Congratulations You have completed your 4th milestone challenge too!

----------------------

# FeedBack
We hope you’ve enjoyed this course so far. We’re committed to help you use "AI for All" course to its full potential, so that you have a great learning experience. And that’s why we need your help in form of a feedback here.

Please fill this feedback form https://docs.google.com/forms/d/e/1FAIpQLSfjBmH0yJSSA34IhSVx4h2eDMgOAeG4Dk-yHid__NMTk3Hq5g/viewform